# scripts/generate-licenses.mjs parses lock files with LF-only patterns, so the working tree
# must not depend on the platform or on core.autocrlf.
* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.pdf binary
*.woff binary
*.woff2 binary
